*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
:root{
    --bg-color: #efebfc;
    --main-color:#cfeaf0;
    --text-color:#595959;
    --sp-color: rgb(4, 161, 72);
    --dm-bg-color:#204e58;
    --dm-text-color:#ffffff;
}
.darkmode{
    --bg-color: #111112;
    --main-color:#204e58;
    --text-color:#ffffff;
    --sp-color: rgb(4, 161, 72);
    --dm-bg-color:#cfeaf0;
    --dm-text-color:#060606;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg-color);
    
}
.calculator{
    position: relative;
    background-color:var(--main-color) ;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
}

.calculator form input{
    border: 0;
    outline: 0;
    width:50px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255,255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: var(--text-color);
    cursor: pointer;
    margin: 10px;
}   
.calculator form input:hover{
    box-shadow: -8px -8px 15px rgba(0, 0, 0, 0.2), 5px 5px 15px rgba(255, 255,255, 0.1);
}

.display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align:right;
    flex: 1;
    font-size:45px;
    box-shadow: none;
    border: 3px solid rgba(0, 0, 0, 0.1);
}

form input.equal{
    width: 125px;
}

form input.operator{
    color: var(--sp-color);
}
#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10px;
    right: 10px;
}
#theme-switch svg{
    fill: var(--text-color);
}
#theme-switch svg:last-child{
    display: none;
}
.darkmode #theme-switch svg:first-child{
    display: none;
}
.darkmode #theme-switch svg:last-child{
    display: block;
}